    @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); 

*,::before,::after{
    margin:0;
    padding:0;
}

body{
    background: linear-gradient(to right,#314d58,#162630);
    color: white;
    font-family: 'Questrial', sans-serif;

}

.playings{
    display: flex;
    justify-content: center;
    
}

.play{
    font-size: 4.5rem;
    margin-top: 4rem;
    background: none;
    border:none;
    margin-right: 3rem;
}

.play:hover{
    transform:scale(.9);
    cursor: pointer;
    transition: 400ms;
}

.result{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    margin-top: 2.5rem;
    font-size: 2.7rem;
    color: #c3d8e4;
}

.result > div:nth-child(2){
    margin-right: 2rem;
}

.score{
    margin-left: 1.2rem;
    font-size: 2rem;
}

.result-selection{
    opacity: .5;
    text-align: center;
    margin-top: 2rem;
}

.result-selection.winner{
    text-align: center;
    opacity: 1;
    margin-top: 2rem;
}

.scoreresult{
    color: gray;
    font-size: 3rem;
}